<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderStatusServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58607/CustomerOrderStatusService.svc"
                binding="basicHttpBinding" bindingConfiguration="OrderStatusServiceBinding"
                contract="OrderStatusService" name="OrderStatusServiceBinding" />
        </client>
    </system.serviceModel>
</configuration>